<div *ngIf="questions" class="custom-container list-group">
    <div class="top-bar">
        <div class="filterDropdown btn-group">
            <button type="button" class="btn btn-primary">Filter</button>
            <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item">Most Recent</a>
                <a class="dropdown-item">Most Popular</a>
                <a class="dropdown-item">Culture Fit</a>
                <a class="dropdown-item">Algorithms</a>
                <a class="dropdown-item">Computer Science</a>
                <a class="dropdown-item">Riddles</a>
            </div>
        </div>
        <button type="button" class="addButton float-right btn btn-danger">Add Question</button>
    </div>
    <div routerLink= "specific" class="list-group-item list-group-item-action ind-question" *ngFor="let question of questions">
        <div class= "votes">
            <fa-icon [icon]="faChevronUp"></fa-icon>
            <div>#votes</div>
            <fa-icon [icon]="faChevronDown"></fa-icon>
        </div>
        <div class= "question-content">
            <div class= "question-header">
                <h5 class="mb-1">{{question.question}}</h5>
                <small>Username</small>
            </div>
            <div class="bottom-bar">
                <small># of Answers</small>
                <small>Tags</small>
            </div>
        </div>    
    </div>
</div>
