.custom-container {
    margin-left: 5%;
    margin-right: 5%;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1%;
}

.bottom-bar {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.ind-question {
    display: flex;
}

.question-content {
    display: flex;
    flex-direction: column;
    margin-left: 2em;
}

.question-header {
    display: flex;
    justify-content: center;

}

.votes {
    display: flex;
    flex-direction: column;
    align-items: center;
}
