<div *ngIf="questions" class="custom-container list-group">
    <div class="top-bar">
        <div class="filterDropdown btn-group">
            <button type="button" class="btn btn-primary">Filter</button>
            <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <div class="dropdown-menu">
                <option class="dropdown-item">Most Recent</option>
                <option class="dropdown-item" (click)="filterQuestions($event);" value="Most Popular">Most Popular</option>
                <option class="dropdown-item" (click)="filterQuestions($event);">Cultural</option>
                <option class="dropdown-item" (click)="filterQuestions($event);">Algorithms</option>
                <option class="dropdown-item" (click)="filterQuestions($event);">Computer Science</option>
                <option class="dropdown-item" (click)="filterQuestions($event);">Riddles</option>
            </div>
        </div>
        <button routerLink="add" type="button" class="addButton float-right btn btn-danger">Add Question</button>
    </div>
    <div routerLink="specific/{{question.id}}" class="list-group-item list-group-item-action ind-question" *ngFor="let question of filteredQuestions">
        <div class="votes">
            <fa-icon [icon]="faChevronUp"></fa-icon>
            <div>{{question.upvotes - question.downvotes}}</div>
            <fa-icon [icon]="faChevronDown"></fa-icon>
        </div>
        <div class="question-content">
            <div class="question-header">
                <h5 class="mb-1">{{question.question}}</h5>
                <small>User: {{question.user_id}}</small>
            </div>
            <div class="bottom-bar">
                <small># of Answers</small>
                <small>Tag: {{question.tag}}</small>
            </div>
        </div>
    </div>
</div>