.custom-container {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3%;
    display: flex;
    flex-direction: column;
    min-height: 80vh;
}

img {
    width: 300px;
    border-radius: 10px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 600px) { 
    .custom-container {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 3%;
        display: flex;
        flex-direction: column;
        min-height: 80vh;
    }

    img {
        width: 300px;
        margin-top: 50px;
    }
}

.form {
    margin: 0 auto;
}

.sign-button {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.sign-up-button {
    margin-left: 10px;
}

.form-border {
    border: 1px solid black;
}

#emailInput {
    box-shadow: none;
    border: 2px solid #007bff;
    text-align: center;
    width: 300px;
}

#passwordInput {
    box-shadow: none;
    border: 2px solid #007bff;
    text-align: center;
    width: 300px;
}
