.custom-container {
    margin-left: 37vw;
    margin-right: 37vw;
    margin-bottom: 3%;
    display: flex;
    flex-direction: column;
    min-height: 80vh;
}

img {
    width: 100%;
    border-radius: 10px;
}

@media (max-width: 575px) { 
    .custom-container {
        margin-left: 10vw;
        margin-right: 10vw;
        margin-bottom: 3%;
        display: flex;
        flex-direction: column;
        min-height: 80vh;
    }

    img {
        width: 100%;
        border-radius: 10px;
    }
}

.form {
    margin: 0 auto;
}

.sign-button {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.sign-up-button {
    margin-left: 10px;
}

.form-border {
    border: 1px solid black;
}

#emailInput {
    box-shadow: none;
    border: 2px solid #007bff;
    text-align: center;
    width: 20vw;
}

#passwordInput {
    box-shadow: none;
    border: 2px solid #007bff;
    text-align: center;
    width: 20vw;
}
