.custom-container {
    margin-left: 40%;
    margin-right: 40%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 80vh;
}

img {
    width: 100%;
    border-radius: 10px;
}

.form {
    margin-top: 20px;
}

.sign-button {
    display: flex;
    justify-content: space-around;
}

.sign-up-button {
    margin-left: 10px;
}

.form-border {
    border: 1px solid black;
}
