<div class="custom-container">
    <img src="../assets/inQuizlit.png">
    <form>
        <div>
          <textarea class="form-control form-border" id="question" rows="3" placeholder="Question"></textarea>
        </div>
        <div class="filterDropdown btn-group">
          <button type="button" class="btn btn-primary dropdown-button">Question Tag</button>
          <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split dropdown-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="sr-only">Question Tag</span>
          </button>
            <div class="dropdown-menu">
                <a class="dropdown-item">Culture Fit</a>
                <a class="dropdown-item">Algorithms</a>
                <a class="dropdown-item">Computer Science</a>
                <a class="dropdown-item">Riddles</a>
            </div>
        </div>
        <div>
          <textarea class="form-control form-border" id="answer" rows="3" placeholder="Answer"></textarea>
        </div>
        <div class="form-group">
          <input type="text" class="form-control form-border" id="companyName" placeholder="Company Name (optional)">
        </div>
        <div class="form-group">
          <input type="text" class="form-control form-border" id="interviewerName" placeholder="Interviewer Name (optional)">
        </div>
        <button type="button" class="add-question-button btn btn-primary">Submit</button>
    </form>
  </div>
  