img {
    width: 300px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}

.custom-container {
    margin-left: 37vw;
    margin-right: 37vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 80vh;
}

.menu {
    margin-top: 1rem;
}

.add-question-button, .dropdown-button {
    margin-top: 1em;
}

.form-border {
    border: 1px solid black;
    margin-top: 1em;
}

.select-question {
    border: 1px solid black !important;
    cursor: pointer;
}

.space-around {
    display: flex;
    justify-content: space-around;
}

@media (max-width: 575px) { 

    img {
        width: 300px;
        margin-top: 50px;
    }

    .custom-container {
        margin-left: 10vw;
        margin-right: 10vw;
        display: flex;
        justify-content: center;
        flex-direction: column;
        min-height: 80vh;
    }
}
