<div class= "question-container">
    <p><b>Question:</b> Placeholder for Question</p>
    <div class="form-group">
        <label for="exampleTextarea"></label>
        <textarea class="form-control" id="exampleTextarea" rows="3" placeholder= "Enter Answer"></textarea>
    </div>
    <div class= "buttons">
        <button class= "btn btn-primary">Submit</button>
        <button class= "btn btn-secondary">Show Answers</button>
    </div>
</div>

<div class= "question-container-two">
    <div class= "question">
        <p><b>Question:</b> Placeholder for Question</p>
        <button class="btn btn-secondary margin-right-0">Return to Questions</button>
    </div>
    <div class= "answer-container">
        <div class= "votes">
            <fa-icon [icon]="faChevronUp"></fa-icon>
            <div># votes</div>
            <fa-icon [icon]="faChevronDown"></fa-icon>
        </div>
        <div class="answer">
            <p><b>Answer:</b> Placeholder for Answer</p>
            <small class= "username">Username</small>
        </div>
    </div>
</div> 

