<div class= "question-container">
  <p><b>Question:</b> PLACEHODER for Question</p>
  <div class="form-group answer">
      <label for="exampleTextarea"></label>
      <textarea class="form-control" id="exampleTextarea" rows="3" placeholder= "Enter your answer here (optional)"></textarea>
  </div>
  <div class= "buttons">
    <button class= "btn btn-primary">Sumbit</button>
    <button class= "btn btn-secondary">Show Answers</button>
  </div>
</div>

<div class= "question-container-two">
  <div class= "question">
    <p><b>Question:</b> PLACEHODER for Question</p>
    <button class= "btn btn-secondary">Return to Questions</button>
  </div>
  <div class= "answer-container">
    <div class= "answer">
      <p><b>Answer:</b>PLACEHOLDER for Answer</p>
      <small>Username</small>
    </div>
  </div>
</div> 

