.question-container {
    margin-right: 20%;
    margin-left: 20%;
    margin-top: 5%;
}

.buttons {
    margin-top: 1em;
    display: flex;
}

.btn {
    margin-right: 2em;
}

.question-container-two {
    margin-right: 20%;
    margin-left: 20%;
    margin-top: 3%;
}

.question {
    display: flex;
    justify-content: space-between;
}

.answer-container {
    display: flex;
    margin-top: 2em;
    border: 1px solid #cccccc;
    border-radius: 3%;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
    display: flex;
    justify-content: flex-start;
}

.votes {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hidden {
    display: none;
}

.margin-right-0 {
    margin-right: 0px;
}

.margin-left-10 {
    margin-left: 10px;
}

.answer {
    margin-left: 30px;
}

.arrows {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.left-arrow {

}

.right-arrow {
    width: 30px;
    margin-left: 100px;
}

.hide {
    display: none;
}
