form {
    margin: 0 auto;
    width: 300px;
}

img {
    width: 300px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}

.custom-container {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3%;
    display: flex;
    flex-direction: column;
    min-height: 80vh;
}

.form-border {
    border: 1px solid black;
}

.sign-button {
    display: flex;
    justify-content: space-around;
}

@media (max-width: 600px) { 
    .custom-container {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 3%;
        display: flex;
        flex-direction: column;
        min-height: 80vh;
    }

    img {
        width: 200px;
    }

    form {
        margin: 0 auto;
        width: 70vw;
    }
}
