<div class="custom-container">
    <img src="../assets/inQuizlit.png">
    <form>
        <div class="form-group">
            <input type="text" class="form-control form-border" id="firstName" placeholder="First Name">
          </div>
        <div class="form-group">
            <input type="text" class="form-control form-border" id="LastName" placeholder="Last Name">
        </div>
        <div class="form-group">
            <input type="text" class="form-control form-border" id="Username" placeholder="Username">
        </div>
        <div class="form-group">
          <input type="email" class="form-control form-border" id="Email1" aria-describedby="emailHelp" placeholder="Email">
        </div>
        <div class="form-group">
          <input type="password" class="form-control form-border" id="Password1" placeholder="Password">
        </div>
        <div class="form-group">
            <input type="password" class="form-control form-border" id="Password2" placeholder="Re-enter Password">
          </div>
        <div class="sign-button">
        <button type="button" class="sign-up-button btn btn-primary">Sign Up</button>
      </div>
    </form>
  </div>
  